.debug1 {
  background-color: pink; }

.debug2 {
  background-color: #ffa6b6; }

.debug3 {
  background-color: #ff8da1; }

.debug4 {
  background-color: #ff738c; }

.debug5 {
  background-color: #ff5a77; }

.debug6 {
  background-color: #ff4162; }

.debug7 {
  background-color: #ff274d; }

.debug8 {
  background-color: #ff0d38; }

.debug9 {
  background-color: #f3002a; }

.debug10 {
  background-color: #d90026; }

.debug11 {
  background-color: #c00022; }

.debug12 {
  background-color: #a6001d; }

.debug13 {
  background-color: #8d0019; }

.debug14 {
  background-color: #730014; }

.debug15 {
  background-color: #5a0010; }

.debug16 {
  background-color: #40000b; }
